@page
@model CharityDatabase.Pages.Index1Model
@{
}
<html>
<head>

</head>
<body>
    <form method="post">
        <table>
            <tr>
                <td>نام: </td>
                <td> <input type="text" name="FirstNameTextBox" /></td>
            </tr>
            <tr>
                <td>نام خانوادگی: </td>
                <td> <input type="text" name="LastNameTextBox" /></td>
            </tr>
            <tr>
                <td>کد ملی: </td>
                <td> <input type="number" name="NationalCodeTextBox" /></td>
            </tr>
            <tr>
                <td>تلفن: </td>
                <td> <input type="tel" name="PhoneTextBox" /></td>
            </tr>
         
            <tr>
                <td>جنسیت: </td>
                <td> <select name="Gender"><option >مرد</option>
                     <option>زن</option>
                     </select></td>
            </tr>
            <tr>
                <td><input type="submit" value="ثبت نام" /></td>
                <td><input type="reset" value="پاک کردن" /></td>
            </tr>
        </table>
    </form>
    <div>
        
        @if(ViewData["NeedeeInfo"] != null)
        {
        <p>
            ثبت نام با مشخصات زیر با موفقیت انجام شد
        </p>
            @ViewData["NeedeeInfo"];
        
        }

    </div>
</body>
</html>